<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString" connectionString="server=localhost;database=simpledatatest;user=root;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>